canvas { border: 0px solid black; }
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background-color: #000; color: #fff; font-family: infbasic, Verdana, sans-serif; }

@font-face {
    font-family: "infbasic";
    src: url("/img/webfont.woff") format("woff"),
    url("/img/webfont.ttf") format("truetype");
}
@font-face {
    font-family: "infnumbers";
    src: url("/img/shrewsbury.woff") format("woff"),
    url("/img/shrewsbury.ttf") format("truetype");
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20pt;
}

#build_overlay {
    display: none;
    width: 400px;
    border:10px solid #666;
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#build_overlay div {
    padding:10px;
    border:1px solid #fff;
    background-color:#fff;
}

#build_overlay h2 {
    color: #000;
}
